<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FindMyFriend</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!-- jQuery-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"><!-- jQuery Mobile-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script><!-- jQuery Mobile-->
        
        
        <script type="text/javascript">
            var etat={};// l'état de users
            var position={};// ma position
            var position1={};// la position de l'autre user
            var lastContactSelected=null;// nom d'un user selectionner
            var rattodeg=180/Math.PI;
            
            window.onload = function(){
                etat.myself={};
                etat.myself.login = {};
                etat.myself.nom = [];
                etat.connectedusers= []; // quelle est la diffirence entre {} et [] ??
                etat.viewuser = null;//si null c'est la page des utilisateur si non on affiche la bossole selon la login choisie
                // my position
                position.latitude=0;
                position.longitude=0;
                position.cap=0;
                // positin user
                position1.latitude=0;
                position1.longitude=0;
            
                //The watchPosition() method returns an ID number that can be used to uniquely identify the requested position watcher;
                //you use this value in tandem with the clearWatch() method to stop watching the user's location.  
                //coords: Api gps du navigateur
                var watchID = navigator.geolocation.watchPosition(function(pos){
                    position.latitude=pos.coords.latitude;
                    position.longitude=pos.coords.longitude;
                });
                window.addEventListener('deviceorientation', function (event){
                    position.cap = event.alpha/rattodeg;   //myself 
                    CompassOrientation(position.cap);  
                });

                //changer les etats des utilisateurs automatiquement avec  refreshall();
                var evt = new EventSource('/api/notification');
            
                evt.addEventListener('userschanged',function(e){
                    //ATTENTION, data contient juste l'utilisateur qui a changé
                    //ce n'est pas l'état complet
                    var data= JSON.parse(e.data);
                    console.log("userschanged");
                    console.log(data);
                    refreshall();
                });
            
                // Ces events sont pas completes!
                evt.addEventListener('RoomActivated',function(event){
                    var data= JSON.parse(event.data);//la chaine en json et on la convertie on Objet java
                    console.log("RoomActivated");
                    refreshall();
                
                });
            
                evt.addEventListener('RoomDeactivated',function(event){
                    console.log("RoomDeactivated");
                    refreshall();
                });        
    
                // la position de user2
                evt.addEventListener('GPSposition',function(event){
                    var data= JSON.parse(event.data);//la chaine en json et on la convertie on Objet java
                    position1.latitude= data.latitude;
                    position1.longitude= data.longitude;
                    var direction_user2 = cap_calculation(position, position1);
                    ArrowOrientation(direction_user2.cap); //on avait ajoute ces lignes pour le arrow, cest bon??
                    console.log("GPSposition event");
                    console.log(data);
                });
            
                setInterval('sendgpsLocation()',5000);//on voir la localisation par gps d'un user chaque 5 secondes  
                refreshall();
                
                navigator.vibrate = navigator.vibrate || navigator.webkitVibrate || navigator.mozVibrate || navigator.msVibrate;

            }   
    
 {#/********************************************   FONCTIONS  **********************************************/#}    
            //message erreur (callaback) 
            function AfficheMessage(message){
                if(message)
                    $("#popup2").text(message).popup("open");
            } 
      
      
            function refreshall(){
                $.get("/api/currentstate",{},refreshallcallback);
                return;
    
                function refreshallcallback(data){
                    etat=data;
                    afficheToutLEtat();
                }
            }
        
            // afficher la liste des utilisateurs  
            function afficheToutLEtat(){
                var tbody = $("#userstbody"); 
                var invitation=0;
                tbody.html('');  
                for (var i in etat.connectedusers){
                    var user = etat.connectedusers[i];
                    var li=$("<li>");
                    var a=$("<a>",{"onclick":"ShowPopup('"+user.login+"');",'id':"lien-"+user.login});
                    a.text(user.login);
                    li.append(a);
                    tbody.append(li);
                    a.removeClass('ui-icon-carat-r');
                    
                    switch(etat.connectedusers[i].status){
                        case 0:
                            a.addClass('ui-icon-forbidden');
                        break;
                    
                        case 1:
                            a.addClass('ui-icon-user');
                        break;
                    
                        case 2:
                            a.addClass('ui-icon-action');
                        break;
                    
                        case 3:
                            a.addClass('ui-icon-mail');
                        break;

                        case 4:
                            a.addClass('ui-icon-location');
                        break;
                    }

                    if(etat.connectedusers[i].status==3){
                        invitation=i;}
                }
                tbody.listview('refresh');
                if(invitation){
                    showInvitationDialog(invitation);}
                    
                //affichage de la page de bossole s'il ya un utilisateur
                else if(etat.viewuser){
                    $( ":mobile-pagecontainer" ).pagecontainer( "change", $("#boussolepage"));
                }
                else{
                    $( ":mobile-pagecontainer" ).pagecontainer("change", $("#account"));
                }
            }
   
            function showInvitationDialog(name) {
                $( "#text" ).text(name);
                lastContactSelected=name;
                $( ":mobile-pagecontainer" ).pagecontainer( "change", $("#dialog") );
            }
            
            function Accepter(){
                $.get("/api/invitationyes",{user: lastContactSelected},AfficheMessage);
                $( ":mobile-pagecontainer" ).pagecontainer( "change", $("#account") );
            }
            
            function Refuser(){
                $.get("/api/invitationno",{user: lastContactSelected},AfficheMessage);
                $( ":mobile-pagecontainer" ).pagecontainer( "change", $("#account") );
            }

            function ShowPopup(name){
                switch(etat.connectedusers[name].status){
                    case 0: 
                        $("#inv").show();
                        $("#loc").hide();
                        $("#acc").hide();
                        $("#ign").hide();
                        $("#fin").hide();
                    break;
             
                    case 1: 
                        $("#inv").show();
                        $("#loc").hide();
                        $("#acc").hide();
                        $("#ign").hide();
                        $("#fin").hide();
                    break;
             
                    case 2:
                        $("#inv").hide();
                        $("#loc").hide();
                        $("#acc").hide();
                        $("#ign").hide();
                        $("#fin").hide();
                    break;
             
                    case 3:  
                        $("#inv").hide();
                        $("#loc").hide();
                        $("#acc").show();
                        $("#ign").show();
                        $("#fin").hide();  
                    break;
             
                    case 4:  
                        $("#inv").hide();
                        $("#loc").show();
                        $("#acc").hide();
                        $("#ign").hide();
                        $("#fin").show();
                    break;
                }
                lastContactSelected=name;
                $("#popup").popup("open"); 
            }
       
       
            function inviteClicked(){
                $.get("/api/invite",{user: lastContactSelected},AfficheMessage);
                $("#popup").popup("close");
            }// fermer le popup


            function finishClicked(){
                $.get("/api/finish",{user: lastContactSelected},AfficheMessage);
                $("#popup").popup("close");
            }
        

            function locationClicked(){
               
                $.get("/api/seelocation",{user: lastContactSelected},AfficheMessage);
                $("#popup").popup("close");
            }
            
            function ExitClicked(){
                 $.get("/api/exit",{user: lastContactSelected},AfficheMessage);
            }
         
            function accepterClicked(){
                $.get("/api/invitationyes",{user: lastContactSelected},AfficheMessage);
                $("#popup").popup("close");
            }
        
            function ignorerClicked(){
                $.get("/api/invitationno",{user: lastContactSelected},AfficheMessage);
                $("#popup").popup("close");
            }
            
            function CompassOrientation(angle){
                var angle_deg= angle*rattodeg;
                $("#boussole").css('-moz-transform', 'rotate(' + angle_deg + 'deg)');
                $("#boussole").css('-webkit-transform', 'rotate(' + angle_deg + 'deg)');
                $("#boussole").css('-o-transform', 'rotate(' + angle_deg + 'deg)');
                $("#boussole").css('-ms-transform', 'rotate(' + angle_deg + 'deg)');
            }
 
            function ArrowOrientation(angle){
                var angle_deg= angle*rattodeg;
                $("#fleche").css('-moz-transform', 'rotate(' + angle_deg + 'deg)');
                $("#fleche").css('-webkit-transform', 'rotate(' + angle_deg + 'deg)');
                $("#fleche").css('-o-transform', 'rotate(' + angle_deg + 'deg)');
                $("#fleche").css('-ms-transform', 'rotate(' + angle_deg + 'deg)');
            }
           
            function sendgpsLocation(){
                $.get("/api/position",{latitude:position.latitude,longitude:position.longitude},AfficheMessage);
                //il manque quelque chose...
            }

            function Cartesian(x,y,z){
                this.X = x;
                this.Y = y;
                this.Z = z;
            } 
            
            function convertSphericalToCartesian(latlong){ //latlong = structure of either position or position1
                var earthRadius = 6367; //radius in km
                var lat = (latlong.Latitude)/rattodeg; //Changement Deg --> Rad
                var lon = (latlong.Longitude)/rattodeg;
                var x = earthRadius * Math.cos(lat)*Math.cos(lon);
                var y = earthRadius * Math.cos(lat)*Math.sin(lon);
                var z = earthRadius * Math.sin(lat);
                return new Cartesian(x,y,z);
            }
            
            function vectormagnitude(vector){
                return Math.sqrt(Math.pow(vector.x,2) + Math.pow(vector.y,2) + Math.pow(vector.z,2));
            }
            
            function normalizing(vector){
                var x = vector.x/vectormagnitude(vector);
                var y = vector.y/vectormagnitude(vector);
                var z = vector.z/vectormagnitude(vector);
                return new Cartesian(x,y,z);
            }
            
            function scalarProduct(vector1, vector2){
                return vector1.x*vector2.x + vector1.y*vector2.y + vector1.z*vector2.z;
            }
            
            function vectorProduct(vector1, vector2){
                var x = vector1.y*vector2.z - vector1.z*vector2.y;
                var y = vector1.z*vector2.x - vector1.x*vector2.z;
                var z = vector1.x*vector2.y - vector1.y*vector2.x;
                return new Cartesian(x,y,z);
            }
            
            function constantProduct(vector, constant){
                return new Cartesian(constant*vector.x, constant*vector.y, constant*vector.z);
            }
            
            function vectorSubstraction(vector1, vector2){
                return new Cartesian(vector1.x-vector2.x, vector1.y-vector2.y, vector1.z-vector2.z);
            }
            
            function cap_calculation(position, position1){
                var arr_myself = convertSphericalToCartesian(position); //position du user1
                var ref_point = arr_myself;
                var k = new Cartesian(0,0,1);
                
                var w = normalizing(constantProduct(ref_point, -1));
                var u = normalizing(vectorSubstraction(k, constantProduct(w, scalarProduct(k, w))));
                var v = normalizing(vectorProduct(w, u)); //normalizing isnt imperative because of the ortogonal property of the product
                
                var arr_user2 = convertSphericalToCartesian(position1); //user2 position
                var offset = vectorSubstraction(arr_user2, ref_point);
                //New user2 position from user1(myself) point of view.
                var distance = new Cartesian(scalarProduct(offset,u), scalarProduct(offset,v), scalarProduct(offset,w));
                var cap = 2 * Math.atan(distance.y/ (distance.x + Math.sqrt(Math.pow(distance.x,2) + Math.pow(distance.y,2)))); //angle in Radians
                return {cap: cap, distance: distance}; 
            }
            
            function vibration(){
                if (navigator.vibrate) {
                   navigator.vibrate([50, 0, 50]);
                }
            }
            
        </script>
    </head>
    
    
    <body>
        <div  data-role="page" id="account">
            <p><h1>Welcome to your account {{ login }}</h1></p>
            <div data-role="collapsible">
                <h2>Contacts</h2>
                <ul  id= "userstbody" data-role="listview"></ul>
            </div>
            
            <div data-role="popup" id="popup" data-theme="b">
                <ul data-role="listview">
                    <li id="inv"><a onclick="inviteClicked()" data-role="button">Invite</a></li>
                    <li id="loc"><a href="#location" onclick="locationClicked()" data-role="button" id="vibrate">See location</a></li>
                    <li id="acc"><a onclick="accepterClicked()" data-role="button">Accepter</a></li>
                    <li id="fin"><a onclick="finishClicked()" data-role="button">Finish</a></li>
                    <li id="ign"><a onclick="ignorerClicked()" data-role="button">Ignorer</a></li>
                </ul>
            </div>
          
           <div data-role="popup" id="popup2" data-theme="b"></div> 
           
            <p><a href="/logout" data-ajax="false" rel="external">logout</a></p>
        </div>
        
         <!-- Dialog -->   
        <div  data-role="page" data-dialog="true" id="dialog">
            <div data-role="header">
                <h2>Invitation</h2>
            </div>
            <div class="ui-content" role="main">
                <div><span  id="text"></span> veut vous trouver</div>
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <a a onclick="Accepter()" class="ui-btn ui-btn-b ui-shadow ui-corner-all" data-role="button">Yes</a>
                    </div>
                    <div class="ui-block-b">
                        <a a onclick="Refuser()" class="ui-btn ui-shadow ui-corner-all" data-role="button">No</a>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- See location  -->     
        <div data-role="page" id="boussolepage">
            <style>
            #boussole{
                background:url("img/boussole.png") no-repeat center center transparent;
                background-size:100% 100%;
                position:absolute;
                width:100%;
                height:100%;
                -webkit-transform-origin: 50% 50%;  /* Chrome, Safari */
                -moz-transform-origin: 50% 50%;     /* Firefox */
                -o-transform-origin: 50% 50%;     /*Opera */
                transform-origin: 50% 50%;          /* Someday... */
            }
            
            #fleche{
                background:url("img/fleche.png") no-repeat center center;
                width:100%;
                height:100%;
                background-size:50% 50%;
                -webkit-transform-origin: 50% 50%;  /* Chrome, Safari */
                -moz-transform-origin: 50% 50%;     /* Firefox */
                -o-transform-origin: 50% 50%;     /*Oopera */
                transform-origin: 50% 50%;          /* Someday... */
            }
            
            #position_absolute{
                position:absolute; 
                width:100%;
                height:100%;
            }
            #b{
                float: right;
            }
            </style>

            <div id="position_absolute">
                <div id="boussole">
                    <div id="fleche"></div>
                    <a href="#account" onclick="ExitClicked()" data-role="button" id = "b">EXIT</a>
                </div>
            </div>
        </div>

        <!-- Finish  -->     
        <div data-role="page" id="finish">
            <div data-rel="dialogue">
                <p>voulez vous arrêter le partage</p>
                <input type="submit" id="finish" value="Yes">
                <a href="#account" data-role="button">Non</a>
            </div>
        </div>
    </body>
</html>