<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FindMyFriend</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><!-- jQuery-->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"><!-- jQuery Mobile-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script><!-- jQuery Mobile-->
        
        
    <script type="text/javascript">
        var etat={};
        var position={};
        var position1={};
        var lastContactSelected=null;
       
        window.onload = function() {
            
            etat.myself={};
            etat.myself.login = {};
            etat.myself.nom = [];
            etat.connectedusers= [];
            
            
            //etat.connectedusers.status = 0;
            
            etat.viewuser = null;//si il null c'est la page des utilisateur si non on affiche la bossole selon la login choisie
        
          position.latitude=0;
          position.longitude=0;
          position.cap=0;
          
           position1.latitude=0;
           position1.longitude=0;
          
       //coords: Api gps du navigateur
       var watchID = navigator.geolocation.watchPosition(function(pos) {
                       position.latitude=pos.coords.latitude;
                       position.longitude=pos.coords.longitude;
            });
        window.addEventListener('deviceorientation', function (event){
            position.cap = event.alpha;  
  
        });
        
            
    //changer les etats des utilisateurs automatiquement avec  refreshall();
        var evt = new EventSource('/api/notification');
            evt.addEventListener('userschanged',function(e) {
                //ATTENTION, data contient juste l'utilisateur qui a changé
                //ce n'est pas l'état complet
                console.log(e.data);
                refreshall();
               
            });
   
     evt.addEventListener('RoomActivated',function(event) {
               var data= JSON.parse(event.data);//la chaine en json et on la convertie on Objet java
            
            });
     evt.addEventListener('RoomDesactivated',function(event) {
               var data= JSON.parse(event.data);//la chaine en json et on la convertie on Objet java
            
            });        
    
            
            
            // les position de user2
            evt.addEventListener('GPSposition',function(event) {
               var data= JSON.parse(event.data);//la chaine en json et on la convertie on Objet java
              position1.latitude= data.latitude;
              position1.longitude= data.longitude;
   
            });
          setInterval('sendgpsLocation()',5000);//on voir la localisation par gps d'un user chaque 5 secondes  
         
        }   
    
            
            
        
         //message erreur (callaback) 
            function AfficheMessage(message){
            if(message){
                 $("#popup2").text(message).popup("open");}
            } 
      
      function refreshall(){
            
            $.get("/api/currentstate",{},refreshallcallback);
            return;
            function refreshallcallback(data){
                etat=data;
                afficheToutLEtat();
            }
        }
        
       // afficher la liste des utilisateurs  
     
        function afficheToutLEtat() {
            var tbody = $("#userstbody"); 
            tbody.html('');  
           
            for (var i in etat.connectedusers) {
                var user = etat.connectedusers[i];
                var li=$("<li>");
                var a=$("<a>",{"onclick":"ShowPopup('"+user.login+"');",'id':"lien-"+user.login});
                a.text(user.login);
                li.append(a);
                tbody.append(li);
                a.removeClass('ui-icon-carat-r');
               switch(etat.connectedusers[i].status){
                    
                  case 0:
                      a.addClass('ui-icon-forbidden');
                    
                    break;
                    
                    case 1:
                        a.addClass('ui-icon-user');
                        
                    break;
                    
                    case 2:
                        a.addClass('ui-icon-action');
                       
                    break;
                    
                    case 3:
                        a.addClass('ui-icon-mail');
                       
                    break;

                    case 4:
                        a.addClass('ui-icon-location');
                       
                    break;
                }
                 if(etat.connectedusers[i].status==3){
                  showInvitationDialog();
              }
                tbody.listview('refresh');
                //affichege de la page de bossole s'il ya un utilisateur
                if(etat.viewuser){
                $( ":mobile-pagecontainer" ).pagecontainer( "change", $("#see_location"));}
             
            }
            //refreshall();
        } 

        
        function ShowPopup(name){

         switch(etat.connectedusers[name].status){
             
            case 0: 
                $("#inv").show();
                $("#loc").hide();
                $("#acc").hide();
                $("#ign").hide();
                $("#fin").hide();
            break;
             
            case 1: 
                $("#inv").show();
                $("#loc").hide();
                $("#acc").hide();
                $("#ign").hide();
                $("#fin").hide();
             break;
             
            case 2:
                $("#inv").hide();
                $("#loc").hide();
                $("#acc").show();
                $("#ign").show();
                $("#fin").show();
             break;
             
            case 3:  
                $("#inv").hide();
                $("#loc").hide();
                $("#acc").show();
                $("#ign").show();
                $("#fin").show();
             break;
             
             case 4:  
                $("#inv").hide();
                $("#loc").show();
                $("#acc").hide();
                $("#ign").hide();
                $("#fin").show();
             break;
       
         }
          lastContactSelected=name;
          $("#popup").popup("open"); 
        }
       
        
        function inviteClicked() {
            
            $.get("/api/invite",{user: lastContactSelected},AfficheMessage);
            $("#popup").popup("close");}// fermer le popup

        
         function finishClicked() {
            
            $.get("/api/finish",{user: lastContactSelected},AfficheMessage);
            $("#popup").popup("close");}
        
        
         function locationClicked() {
            $.get("/api/seelocation",{user: lastContactSelected},AfficheMessage );
            $("#popup").popup("close");}
            
         
       /* function  Accepter(){
             $.get("/api/invitationyes",{user: lastContactSelected},AfficheMessage);
            $("#dialogue").dialog("close");
        }*/
        
        
       /* function Refuser(){
             $.get("/api/invitationno",{user: lastContactSelected},AfficheMessage);
            $("#dialogue").dialog("close");
            
        }*/
            
          function sendgpsLocation(){
              $.get("/api/position",{latitude:position.latitude,longitude:position.longitude},AfficheMessage);}

         
    function showInvitationDialog(name) {
        lastContactSelected=name;
        if(lastContactSelected){
                // $("#dialogue").text( "veut vous trouver").dialog();}
                 //ou on peux faire ca !!!!
           $( "#dialog" ).dialog({
                modal: true,
                buttons: {
                    "Accept": function accepterClicked(){
                        $.get("/api/invitationyes",{user: lastContactSelected},AfficheMessage);
                        $( this ).dialog( "close" );} ,
      
                    "Refuse": function ignorerClicked(){
                        $.get("/api/invitationno",{user: lastContactSelected},AfficheMessage);
                        $( this ).dialog( "close" );}
                }
            });
        }
    }
    // accepterClicked()et  ignorerClicked():erreur:Uncaught ReferenceError: ignorerClicked is not defined
            
            
        function calculate(){
     
        }

    </script>
 
    </head>
    
    <body>

        <div  data-role="page" id="account">

            <p><h1>Welcome to your account {{ login }}</h1></p>

            <div data-role="collapsible">
                <h2>Contacts</h2>
                <ul  id= "userstbody" data-role="listview"></ul>
            </div>
            
            <div data-role="popup" id="popup" data-theme="b">
                <ul data-role="listview">
                    <li id="inv"><a onclick="inviteClicked()" data-role="button">Invite</a></li>
                    <li id="loc"><a onclick="locationClicked()" data-role="button">See location</a></li>
                    <li id="acc"><a onclick="accepterClicked()" data-role="button">Accepter</a></li>
                    <li id="fin"><a onclick="finishClicked()" data-role="button">Finish</a></li>
                    <li id="ign"><a onclick="ignorerClicked()" data-role="button">Ignorer</a></li>
                </ul>
                
            </div>
          
           <div data-role="popup" id="popup2" data-theme="b">
              </div> 
            
            <div data-role="popup" id="popup1" data-theme="b">
                <ul data-role="listview">
                    <li><a onclick="invitationyes()" data-role="button">Accept</a></li>
                    <li><a href="#ref" data-role="button">Refuser</a></li>
                </ul>
                
            </div>
            
         <div data-role="dialog" id="dialog">
                <a onclick="Accepter()" data-role="button">Accept</a>
                <a onclick="Refuser()" data-role="button">Refuser</a>
          </div>
          
            <p><a href="/logout">logout</a></p>
        </div>
       
    
     <!-- See location  -->     
      <div data-role="page" id="see_location">
          <tbody id="bossole"></tbody>
          <a href="#account" data-role="button">EXIT</a>
      </div>
      
      <!-- Finish  -->     
      <div data-role="page" id="finish">
          <div data-rel="dialogue">
              <p>voulez vous arrêter le partage</p>
                  <input type="submit" id="finish" value="Yes">
                  <a href="#account" data-role="button">Non</a>
          </div>
      </div>
 
    </body>
    
</html>